spring:
  flyway:
    schemas: copper-test
  datasource:
    driver-class-name: org.postgresql.Driver
    url: 'jdbc:postgresql://localhost:5432/postgres'
    username: postgres
    password: postgres
    tomcat:
      max-active: 10
      max-idle: 10
      min-idle: 2
      initial-size: 3
      max-wait: 3000
      db-properties:
        currentSchema: ${spring.flyway.schemas}
  cache:
    cache-names: accounts
    caffeine:
      spec: maximumSize=500,expireAfterAccess=600s
logging.level.com.copper.coppertest: DEBUG

deribit:
  api-base-uri: https://test.deribit.com/api/v2
  accounts:
    subaccounts-path: private/get_subaccounts
  wallet:
    deposits-path: private/get_deposits
    withdrawals-path: private/get_withdrawals
  oauth:
    auth-path: public/auth
    client-id: FO7pZ6s6
    client-secret: dVVFUjZN4kuXVW1b1Pd_pIBoe5pgMoBpmAWNph8FMKs
